In [19]:
import pandas as pd

# 올바른 파일 경로로 수정
file_path = 'C:\\BigData\\titanic.csv'

# 수정된 파일 경로로 DataFrame 읽기
df = pd.read_csv(file_path)

# 독립변수 : 성별, 가격, 나이, 좌석등급
# 종속변수 : Survived(생존여부)
feture = ['Sex', 'Fare', 'Age', 'Pclass']
label = ['Survived']

# df[feature].head()
# df[label].head()

# 종속변수의 종류와 개수 알아보기
# df[label].value_counts()

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [21]:
df.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [24]:
df['Age'] = df['Age'].fillna(df['Age'].mean())

In [25]:
df['Age']

0      22.000000
1      38.000000
2      26.000000
3      35.000000
4      35.000000
         ...
886    27.000000
887    19.000000
888    29.699118
889    26.000000
890    32.000000
Name: Age, Length: 891, dtype: float64

In [26]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          891 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [27]:
df.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age              0
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [28]:
df['Sex'].value_counts()

Sex
male      577
female    314
Name: count, dtype: int64

In [29]:
def convertSex(data):
    if data == 'male':
        return 1
    elif data == 'female':
        return 0

df['Sex'] = df['Sex'].apply(convertSex)
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",1,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",0,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",0,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",0,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",1,35.0,0,0,373450,8.0500,NaN,S

In [33]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()

df['Embarked'].value_counts()

le.fit_transform(df['Embarked'])

array([2, 0, 2, 2, 2, 1, 2, 2, 2, 0, 2, 2, 2, 2, 2, 2, 1, 2, 2, 0, 2, 2,
       1, 2, 2, 2, 0, 2, 1, 2, 0, 0, 1, 2, 0, 2, 0, 2, 2, 0, 2, 2, 0, 0,
       1, 2, 1, 1, 0, 2, 2, 2, 0, 2, 0, 2, 2, 0, 2, 2, 0, 3, 2, 2, 0, 0,
       2, 2, 2, 2, 2, 2, 2, 0, 2, 2, 2, 2, 2, 2, 2, 2, 1, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 0, 0, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 1,
       2, 0, 2, 2, 0, 2, 1, 2, 0, 2, 2, 2, 0, 2, 2, 0, 1, 2, 0, 2, 0, 2,
       2, 2, 2, 0, 2, 2, 2, 0, 0, 2, 2, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 0, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 1, 2, 2, 0, 2,
       2, 0, 2, 2, 2, 0, 2, 2, 2, 2, 1, 2, 1, 2, 2, 2, 2, 2, 0, 0, 1, 2,
       1, 2, 2, 2, 2, 0, 2, 2, 2, 0, 1, 0, 2, 2, 2, 2, 1, 0, 2, 2, 0, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 0, 1,
       2, 2, 0, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 0, 0, 2, 0, 2, 1, 2, 2, 2,
       1, 2, 2, 2, 2, 2, 2, 2, 2, 0, 1, 2, 2, 2, 1, 2, 1, 2, 2, 2, 2, 0,
       2, 2, 2, 1, 2, 0, 0, 2, 2, 0, 0, 2, 2, 0, 1, 1, 2, 1, 2, 2, 0, 0,
       0, 0, 0, 0, 2, 2, 2, 2, 2, 2, 2, 0, 2, 2, 1, 2, 2, 0, 2, 2, 2, 0,
       1, 2, 2, 2, 2, 2, 2, 0, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       0, 2, 0, 2, 2, 2, 1, 1, 2, 0, 0, 2, 1, 2, 0, 0, 1, 0, 0, 2, 2, 0,
       2, 0, 2, 0, 0, 2, 0, 0, 2, 2, 2, 2, 2, 2, 1, 0, 2, 2, 2, 0, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 1, 1, 2, 2, 2, 2, 2,
       2, 2, 0, 1, 2, 2, 2, 2, 2, 2, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 0, 2, 2, 2, 0, 0, 2, 0, 2, 2, 2, 1, 2, 2,
       2, 2, 2, 2, 2, 2, 1, 0, 2, 2, 2, 0, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       0, 2, 2, 0, 2, 2, 2, 2, 2, 0, 2, 0, 0, 2, 2, 2, 2, 1, 1, 2, 2, 0,
       2, 2, 2, 2, 1, 2, 2, 0, 2, 2, 2, 1, 2, 2, 2, 2, 0, 0, 0, 1, 2, 2,
       2, 2, 2, 0, 0, 0, 2, 2, 2, 0, 2, 0, 2, 2, 2, 2, 0, 2, 2, 0, 2, 2,
       0, 2, 1, 0, 2, 2, 0, 0, 2, 2, 1, 2, 2, 2, 2, 2, 2, 2, 0, 2, 2, 2,
       2, 1, 2, 2, 2, 2, 0, 2, 2, 0, 2, 0, 0, 2, 2, 0, 2, 2, 2, 0, 2, 1,
       2, 2, 2, 2, 0, 0, 2, 2, 2, 2, 0, 2, 2, 2, 0, 2, 2, 2, 1, 1, 2, 2,
       2, 2, 2, 2, 0, 2, 0, 2, 2, 2, 1, 2, 2, 1, 2, 2, 0, 2, 2, 2, 2, 2,
       2, 2, 2, 0, 2, 2, 0, 0, 2, 0, 2, 2, 2, 2, 2, 1, 1, 2, 2, 1, 2, 0,
       2, 0, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 0, 1, 0,
       2, 2, 2, 0, 2, 2, 2, 2, 2, 0, 2, 0, 2, 2, 2, 1, 0, 2, 0, 2, 0, 1,
       2, 2, 2, 2, 2, 0, 0, 2, 2, 2, 2, 2, 0, 2, 1, 2, 2, 2, 2, 2, 2, 2,
       2, 1, 2, 2, 2, 0, 2, 2, 2, 2, 2, 0, 2, 2, 2, 2, 0, 2, 2, 2, 2, 2,
       2, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 0, 2, 2, 2, 0, 1, 1, 2,
       2, 2, 2, 0, 2, 2, 1, 2, 1, 2, 0, 2, 2, 2, 2, 2, 2, 1, 2, 0, 1, 2,
       2, 0, 2, 2, 2, 2, 0, 2, 2, 2, 2, 0, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 0, 2, 2, 2, 2, 2, 2, 2, 1, 2, 0, 1, 3, 0, 2, 0, 2, 2, 0,
       2, 2, 2, 0, 2, 2, 0, 0, 2, 2, 2, 0, 2, 0, 2, 2, 0, 2, 2, 2, 2, 2,
       0, 0, 2, 2, 2, 2, 2, 2, 0, 2, 2, 2, 2, 2, 2, 2, 0, 0, 2, 2, 2, 0,
       2, 2, 2, 2, 2, 1, 2, 2, 2, 0, 1], dtype=int64)

In [34]:
df['Embarked_num'] = le.fit_transform(df['Embarked'])
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Embarked_num
0,1,0,3,"Braund, Mr. Owen Harris",1,22.0,1,0,A/5 21171,7.2500,NaN,2,2
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",0,38.0,1,0,PC 17599,71.2833,C85,0,0
2,3,1,3,"Heikkinen, Miss. Laina",0,26.0,0,0,STON/O2. 3101282,7.9250,NaN,2,2
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",0,35.0,1,0,113803,53.1000,C123,2,2
4,5,0,3,"Allen, Mr. William Henry",1,35.0,0,0,373450,8.0500,NaN,2,2

In [35]:
pd.get_dummies(df['Embarked_num'])

         0      1      2      3
0    False  False   True  False
1     True  False  False  False
2    False  False   True  False
3    False  False   True  False
4    False  False   True  False
..     ...    ...    ...    ...
886  False  False   True  False
887  False  False   True  False
888  False  False   True  False
889   True  False  False  False
890  False   True  False  False

[891 rows x 4 columns]

NameError: name 'train_test_split' is not defined

In [39]:
#학습데이터 80%, 검증데이터 20%로 분할
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(df[feature], df[lable], test_size = 0.2, random_state = 10)

X_train.shape, X_test.shape

NameError: name 'lable' is not defined

In [38]:
#학습데이터 80%, 검증데이터 20%로 분할
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(df[feature], df[lable], test_size = 0.2, random_state = 10)

X_train.shape, X_test.shape

In [44]:
# 학습데이터 80%, 검증데이터 20%로 분할
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(df[feature], df[label], test_size=0.2, random_state=10)

# X_train.shape, X_test.shape
y_train.shape, y_test.shape

((712, 1), (179, 1))

In [45]:
from sklearn.linear_model import LinearRegression

lr = LinearRegression() #객체 생성

# 모델 학습
lr.fit(X_train, y_train)

# 검증 데이터로 예측
pred = lr.predict(X_test)
pred

array([[0.19880032],
       [0.1968865 ],
       [0.19765203],
       [0.7402541 ],
       [0.73731958],
       [0.19675892],
       [0.19752444],
       [0.20033138],
       [0.19841756],
       [0.19714168],
       [0.19752444],
       [0.73323676],
       [0.73591611],
       [0.19812399],
       [0.19803479],
       [0.19812399],
       [0.19812399],
       [0.1948451 ],
       [0.7360437 ],
       [0.19812399],
       [0.19812399],
       [0.19892791],
       [0.73744716],
       [0.19752444],
       [0.19573821],
       [0.1968865 ],
       [0.1968865 ],
       [0.1948451 ],
       [0.20096932],
       [0.73770234],
       [0.73731958],
       [0.19812399],
       [0.73412988],
       [0.1990555 ],
       [0.73476782],
       [0.19812399],
       [0.73591611],
       [0.19675892],
       [0.19812399],
       [0.19841756],
       [0.19950205],
       [0.19828997],
       [0.19812399],
       [0.73502299],
       [0.20045896],
       [0.19803479],
       [0.19701409],
       [0.19701409],
       [0.73489541],
       [0.20020379],
       [0.1990555 ],
       [0.19969344],
       [0.19880032],
       [0.20058655],
       [0.19471751],
       [0.73502299],
       [0.19458992],
       [0.73664325],
       [0.73923339],
       [0.19739685],
       [0.19752444],
       [0.73910581],
       [0.73664325],
       [0.73617129],
       [0.20377625],
       [0.19663133],
       [0.19803479],
       [0.19822618],
       [0.19867273],
       [0.73668164],
       [0.19637615],
       [0.19969344],
       [0.19752444],
       [0.20211761],
       [0.73693681],
       [0.19637615],
       [0.19726927],
       [0.19471751],
       [0.19812399],
       [0.19873653],
       [0.19790721],
       [0.19812399],
       [0.19701409],
       [0.19445213],
       [0.73591611],
       [0.19867273],
       [0.73782993],
       [0.73923339],
       [0.19816238],
       [0.73515058],
       [0.19841756],
       [0.19812399],
       [0.19812399],
       [0.19812399],
       [0.73782993],
       [0.73664325],
       [0.73527817],
       [0.19812399],
       [0.73502299],
       [0.19701409],
       [0.19446233],
       [0.20122449],
       [0.19790721],
       [0.20147967],
       [0.73744716],
       [0.73515058],
       [0.19812399],
       [0.19573821],
       [0.73731958],
       [0.19841756],
       [0.73642646],
       [0.19943826],
       [0.73664325],
       [0.19812399],
       [0.19675892],
       [0.20122449],
       [0.20135208],
       [0.73566093],
       [0.73617129],
       [0.19790721],
       [0.73744716],
       [0.1948451 ],
       [0.73668164],
       [0.73515058],
       [0.7370644 ],
       [0.73664325],
       [0.73664325],
       [0.19812399],
       [0.19812399],
       [0.19471751],
       [0.73846787],
       [0.19714168],
       [0.19739685],
       [0.73664325],
       [0.7360437 ],
       [0.73664325],
       [0.19867273],
       [0.19812399],
       [0.73553335],
       [0.20084173],
       [0.73674543],
       [0.19765203],
       [0.19812399],
       [0.20173484],
       [0.19812399],
       [0.19812399],
       [0.19812399],
       [0.20199002],
       [0.19892791],
       [0.19950205],
       [0.19854515],
       [0.2000762 ],
       [0.73693681],
       [0.20033138],
       [0.19854515],
       [0.73515058],
       [0.19812399],
       [0.19752444],
       [0.19812399],
       [0.19812399],
       [0.19726927],
       [0.73664325],
       [0.73744716],
       [0.19812399],
       [0.19663133],
       [0.73664325],
       [0.19841756],
       [0.19675892],
       [0.73664325],
       [0.19701409],
       [0.73664325],
       [0.19446233],
       [0.20262796],
       [0.73664325],
       [0.20262796],
       [0.19675892],
       [0.19994861],
       [0.20186243],
       [0.19812399]])

In [46]:
p = np.array([3,4,5])
act = np.array([1,2,3])

def my_mse(pred, actual):
    return ((pred-actual) ** 2).mean()

my_mse(p, act)

4.0

In [49]:
# 종속변수 학습 데이터를 log화 하기
# exp() : 지수함수로 변환
y_train_log = np.log(y_train)
# 학습
lr.fit(X_train, y_train_log)

# 검증 데이터로 예측
pred = lr.predict(X_test)

#RMSE
mean_squared_error(y_test, pred, squared=False)

C:\ProgramData\anaconda3\Lib\site-packages\pandas\core\internals\blocks.py:329: RuntimeWarning: divide by zero encountered in log
  result = func(self.values, **kwargs)

ValueError: Input y contains infinity or a value too large for dtype('float64').

In [50]:
# 최소값이 0 이하인 경우 1을 더해줌
min_value = y_train.min()
if min_value <= 0:
    y_train = y_train - min_value + 1

# 로그 변환
y_train_log = np.log(y_train)

# 선형 회귀 모델 학습
lr.fit(X_train, y_train_log)

# 검증 데이터로 예측
pred = lr.predict(X_test)

# RMSE 계산
rmse = mean_squared_error(y_test, pred, squared=False)

# 결과 출력
print(f"Root Mean Squared Error (RMSE): {rmse}")

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [51]:
# 최소값이 0 이하인 경우 1을 더해줌
min_value = y_train.min()
if min_value <= 0:
    y_train = y_train + 1

# 로그 변환
y_train_log = np.log(y_train)

# 선형 회귀 모델 학습
lr.fit(X_train, y_train_log)

# 검증 데이터로 예측
pred = lr.predict(X_test)

# RMSE 계산
rmse = mean_squared_error(y_test, pred, squared=False)

# 결과 출력
print(f"Root Mean Squared Error (RMSE): {rmse}")

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [52]:
# 최소값이 0 이하인 경우 1을 더해줌
min_value = y_train.min()
if min_value <= 0:
    y_train = y_train + 1

# 로그 변환
y_train_log = np.log(y_train)

# 선형 회귀 모델 학습
lr.fit(X_train, y_train_log)

# 검증 데이터로 예측
pred = lr.predict(X_test)

# RMSE 계산
rmse = mean_squared_error(y_test, pred, squared=False)

# 결과 출력
print(f"Root Mean Squared Error (RMSE): {rmse}")

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [54]:
# 최소값이 0 이하인 경우 1을 더해줌
min_value = y_train.min()
if (min_value <= 0).any():
    y_train = y_train + 1

# 로그 변환
y_train_log = np.log(y_train)

# 선형 회귀 모델 학습
lr.fit(X_train, y_train_log)

# 검증 데이터로 예측
pred = lr.predict(X_test)

# RMSE 계산
rmse = mean_squared_error(y_test, pred, squared=False)

# 결과 출력
print(f"Root Mean Squared Error (RMSE): {rmse}")

NameError: name 'mean_squared_error' is not defined

In [55]:
import numpy as np
from sklearn.metrics import mean_squared_error

# 최소값이 0 이하인 경우 1을 더해줌
min_value = y_train.min()
if (min_value <= 0).any():
    y_train = y_train + 1

# 로그 변환
y_train_log = np.log(y_train)

# 선형 회귀 모델 학습
lr.fit(X_train, y_train_log)

# 검증 데이터로 예측
pred = lr.predict(X_test)

# RMSE 계산
rmse = mean_squared_error(y_test, pred, squared=False)

# 결과 출력
print(f"Root Mean Squared Error (RMSE): {rmse}")

Root Mean Squared Error (RMSE): 0.4081474888306154